* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
form {
  border-radius: 5px;
  border: 2px solid #8e44ad;
  box-shadow: 0 2pxx 5px #f0f0f0;
  display: grid;
  justify-content: space-between;
  justify-content: center;
  padding: 1.5em;
  margin: 2em;
  overflow: hidden;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
form label {
  display: inline-block;
  margin-bottom: 5px;
}
form input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
}
form small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
form textarea {
  height: 200px;
  width: 500px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
}
form select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 10px;
}
form h1 {
  background-color: #8e44ad;
  color: #ffffff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 5px;
}
form button {
  background-color: #9e51be;
  display: block;
  color: #ffffff;
  border: #8e44ad 2px solid;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
form button:active {
  background-color: #af76c7;
  border: #af76c7 2px solid;
}
form #witnessInfo {
  width: 100%;
  font-size: 14px;
}

form #attorneyInfo {
  width: 100%;
  font-size: 14px;
}